<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>MEMO</h1>
	<div>

		<table>
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">내용</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="memo : ${memoList}">
					<th scope="row"><span th:text="${memo.id}"></span></th>
					<td><span th:text="${memo.text}"></span></td>

				</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<a th:href="@{/memo/register}" role="button">글쓰기</a>
	</div>

</body>
</html>